.AccordionContent[data-state='open'] {
  animation: slideDown 600ms cubic-bezier(0.62, 0.05, 0.01, 0.99);
}
.AccordionContent[data-state='closed'] {
  animation: slideUp 600ms cubic-bezier(0.62, 0.05, 0.01, 0.99);
}

@keyframes slideDown {
  from {
    height: 0;
  }
  to {
    height: var(--radix-accordion-content-height);
  }
}

@keyframes slideUp {
  from {
    height: var(--radix-accordion-content-height);
  }
  to {
    height: 0;
  }
}

.heroGradient {
  background:
    radial-gradient(
        53.91% 81.55% at 54.63% 40.6%,
        rgba(0, 0, 0, 0) 0%,
        rgba(0, 0, 0, 0.65) 100%
      )
      /* warning: gradient uses a rotation that is not supported by CSS and may not behave as expected */,
    linear-gradient(154deg, rgba(0, 0, 0, 0) 63.48%, rgba(0, 0, 0, 0.5) 95.97%);
}
:root,
body {
  font-synthesis-weight: none;
}

.ctaFullMediaGradient {
  background: linear-gradient(
    270deg,
    rgba(0, 0, 0, 0) 23.29%,
    rgba(0, 0, 0, 0.6) 100%
  );
}
