.AccordionContent[data-state='open'] {
  animation: slideDown 600ms cubic-bezier(0.62, 0.05, 0.01, 0.99);
}
.AccordionContent[data-state='closed'] {
  animation: slideUp 600ms cubic-bezier(0.62, 0.05, 0.01, 0.99);
}

@keyframes slideDown {
  from {
    height: 0;
  }
  to {
    height: var(--radix-accordion-content-height);
  }
}

@keyframes slideUp {
  from {
    height: var(--radix-accordion-content-height);
  }
  to {
    height: 0;
  }
}

.heroGradient {
  background:
    radial-gradient(
        53.91% 81.55% at 54.63% 40.6%,
        rgba(0, 0, 0, 0) 0%,
        rgba(0, 0, 0, 0.65) 100%
      )
      /* warning: gradient uses a rotation that is not supported by CSS and may not behave as expected */,
    linear-gradient(154deg, rgba(0, 0, 0, 0) 63.48%, rgba(0, 0, 0, 0.5) 95.97%);
}
:root,
body {
  font-synthesis-weight: none;
  /* scrollbar-gutter: stable; */
}

.ctaFullMediaGradient {
  background: linear-gradient(
    270deg,
    rgba(0, 0, 0, 0) 0%,
    rgba(0, 0, 0, 0.6) 0%
  );
}

.rateTableGradient {
  background: linear-gradient(
    90deg,
    rgba(255, 255, 255, 0) 0%,
    rgba(255, 255, 255, 1) 100%
  );
}
@media (min-width: 1024px) {
  .emotionalNavigationIcon svg {
    width: 122.44px;
    height: 92.83px;
  }
}

.rateTableBlock a {
  text-decoration: underline;
}

.mapCardShadow {
  box-shadow: 0px 0px 64px 0px #00000040;
}

iframe {
  width: 100% !important;
}

.ctaCardGridClip {
  clip-path: inset(100% 0% 0% 0%);
}

body.menuOpen {
  position: fixed;
  overflow-y: scroll;
}

@media (min-width: 1024px) {
  .ctaFullMediaGradient {
    background: linear-gradient(
      270deg,
      rgba(0, 0, 0, 0) 23.29%,
      rgba(0, 0, 0, 0.6) 100%
    );
  }
}
/* input:focus,
a:focus,
button:focus {
  outline: none !important;
  box-shadow: 0 0 3px 1px #3b105387;
} */

.descriptionContent li {
  color: inherit !important;
}
.balanceText p {
  text-wrap: balance;
}
